<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMessageService" sendTimeout="01:00:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56336/MessageService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageService"
          contract="KD.PKOL.TestClient.IMessageService" name="BasicHttpBinding_IMessageService" />
    </client>
  </system.serviceModel>
</configuration>